* {
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(219, 48%, 8%);
}

.box {
  position: relative;
  width: 80px;
  height: 60px;
  border: 1px solid red;
  margin: 20px;
  color: white;
  display: contents;
  padding: 100px;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  border-radius: 25px;
  background: #18191f;
  box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.5),
    4px 4px 6px rgba(0, 0, 0, 0.2),
    inset -1px -1px 4px rgba(255, 255, 255, 0.05),
    inset 4px 4px 4px rgba(0, 0, 0, 0.4);
}
img {
  width: 80px;
  height: 80px;
  margin-top: -11px;
}
span .text {
  margin-top: 10px;
  margin: 26px 20px -63px -55px;
  text-align: center;
}
.btn {
  border: 1px solid red;
  width: 100px;
  height: 100px;
  box-sizing: border-box;

  margin: 10px;
  padding: 15px;
  /* display: block; */
  /* display: inline-block; it works inline but we add custom width/hight*/
  display: inline-block;
}

.main {
  width: 80%;
  height: 100vh;
  /* display: grid; */
  margin-left: 10%;
  margin-right: 50%;
  background: hsl(219, 48%, 8%);
  align-items: center;
  justify-content: center;
}
.Programing {
  margin-top: -8%;
  display: inline-block;
}
.pro {
  text-align: center;
  position: relative;
  margin: 10px;
  color: white;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  border-radius: 25px;

  box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.5),
    4px 4px 6px rgba(0, 0, 0, 0.2),
    inset -1px -1px 4px rgba(255, 255, 255, 0.05),
    inset 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.btn {
  position: relative;
  width: 99px;
  height: 120px;
  margin: 50px;
  margin-top: 46px;
  padding: 42px;
  font-size: 13px;
  color: white;
  /* padding: 49px; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* font-size: 25px; */
  border-radius: 25px;
  box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.5),
    4px 4px 6px rgba(0, 0, 0, 0.2),
    inset -1px -1px 4px rgba(255, 255, 255, 0.05),
    inset 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.btn::before {
  content: "";
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  filter: blur(5px);
  border-radius: 10px;
  opacity: 0.1;
}
.p1 {
  width: 340px;
}

.development {
  margin-top: -8%;

  display: flex;
}

/* java class */

.btn {
  color: #00f3ff;
  box-shadow: 0px 0px 15px #00f3ff, 0px 0px 25px #00f3ff;
  text-shadow: 0px 0px 15px #00f3ff, 0px 0px 25px #00f3ff;
  animation: glow 2s linear infinite;
}
@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(180deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
/* .dev {
box-shadow: 0px 0px 15px #00f3ff, 0px 0px 25px #00f3ff;
text-shadow: 0px 0px 15px #00f3ff, 0px 0px 25px #00f3ff;
color: #00f3ff;
animation: glow 1s linear infinite;
} */
.pro {
  color: #00f3ff;
  box-shadow: 0px 0px 15px red;
  animation: glow 2s linear infinite;
}
#tail {
  margin-left: 10px;
}
@media screen and (max-width: 410px) {
  .btn {
    position: relative;
    width: 94px;
    height: 111px;
    margin: 37px;
    margin-top: 51px;
    padding: 35px;
    font-size: 16px;
  }
}

@media (min-width: 420px) and (max-width: 1300px) {
  .btn {
    position: relative;
    width: 99px;
    height: 120px;
    margin: 39px;
    margin-top: 46px;
    padding: 42px;
    font-size: 13px;
  }
}
